/*++

Copyright (c) Microsoft Corporation All Rights Reserved

Module Name:

    CableAudio.rc

Abstract:

--*/

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SOUND
#define VER_FILEDESCRIPTION_STR     "Cable Virtual Audio Driver"
#define VER_INTERNALNAME_STR        "cableaudio.sys"
#define VER_ORIGINALFILENAME_STR    "cableaudio.sys"

#define VER_LEGALCOPYRIGHT_YEARS    "2013"
#define VER_LEGALCOPYRIGHT_STR	    "Copyright (C) Cable Project." VER_LEGALCOPYRIGHT_YEARS

#include "common.ver"


